html, body {
	width: 100%;
	height: 100%;
}
html {
	background-image: url('../images/background.png');
	background-size: cover;
}
body {
	background-image: url('../images/bg.png');
	background-size: 70% 120%;
	top: 10%;
	background-repeat: no-repeat;
	animation: slide 1s both;
	font-family: sans-serif;
}

body.homepage {
	background-image: url('../images/maincover.png');
	background-size: 120% 120%;
	animation: none;
}
h1 {
	display: none;

}
.description {
	position: absolute;
	right: 5%;
	width: 50%;
	top: 20%;
	max-height: 500px;
	line-height: 25px;
	font-family: saucer bb;
	overflow: scroll;
	color: white;
}
.main-navigation {
	position: absolute;
	top: 40%;
	left: 2%;
	opacity:0;
	font-family: justice league;
	transition: 1000ms;
}
.main-navigation strong{
	font-size: 1.5em;
	color: #bc241d;
	background-image: url(../images/blackflame.png);
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	padding: 7px 0px 2px 25px;
}

.main-navigation.active {
	opacity:1;
	top: 45%;
}
LI {
	list-style: none;
	margin-bottom: 30px;
}
LI a {
	color: inherit;
	text-decoration: none;
	transition: 300ms;
	display: block;
	transform-origin: left;
}
LI a:hover {
	color: #bc241d;
	transform: scale(1.2);
}
#main-navigation-link {
		background-image: url('../images/emblem.png');
		display: block;
		width: 180px;
		height: 300px;
		position: absolute;
		top: 0.5%;
		left: 4.5%;
		background-size: contain;
		background-repeat: no-repeat;
		color: white;
		font-size: 35px;
		letter-spacing: 3px;
		padding-top: 63px;
		padding-left: 25px;
		box-sizing: border-box;
}
@keyframes slide {
	from{
		background-position: 300% 100%;
	}
	to{
		background-position: 100% 100%;
	}
}

.hero-image {
	position: relative;
	width:560px;
	height:560px;
	top:10%;
	left: 35%;
	right:40%;
}

.hero-image img{
	width:100%;
	height:100%;
}

.hero-layer {
	position: absolute;
	width:100%;
	height: 100%;
}
.hero-layer.front {
	position: absolute;
	top: 20%;
	left: 34%;
	width: 180px;
	height:180px;
}
.hero-layer.back {
	animation: flame 1s infinite alternate;
}

@keyframes flame {
	from{
		transform: scaleY(.8);
	}
	to{
		transform: scaleY(1);
	}
}
